{% extends "base.html" %}
{% load staticfiles %}
{% block title %}探索{% endblock %}

{% block head %}
<script src="{% static 'explore/js/gmap.js' %}"></script>
<script>
    var parms =[];
    parms["lt"] ={{ lt }}
    parms["ln"] ={{ ln }}
    parms["zoom"] ={{ zoom }}
    parms["pic"] ="/static/smalls/35284692.jpg";
    parms["ne"] =0;
    parms["sw"] =0;
    parms["jsonurl"] ="{% url 'explore:getPhotoInfo' %}";
    parms["plisturl"] ="{% url 'explore:getPhotoList' %}";
    parms["genurl"] ="{% url 'explore:genRequest' %}";
</script>
<script src="{% static 'explore/js/index.js' %}"></script>
{% endblock %}

{% block cssload2 %}
<link rel="stylesheet" type="text/css" href="{% static 'explore/css/index.css' %}"/>
{% endblock %}

{% block maincontent %}
<div id="explore-index-maindiv">
    <div id="map-canvas"></div>
    <div id="rightdiv">
        <div id="tabdiv" style="">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">热门图片</a></li>
                <li role="presentation"><a href="#">最新图片</a></li>
                <li role="presentation"><a href="#">热门景点</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">热门标签
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-tower" aria-hidden="true" style="margin-right: 20px"></span>人迹-教堂</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-right: 20px"></span>地理-海滩</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-right: 20px"></span>地理-雪山</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-grain" aria-hidden="true" style="margin-right: 20px"></span>自然-极光</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true" style="margin-right: 20px"></span>运动-潜水</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="thumbdiv">
        </div>
        <div id="navdiv" style="margin-top: 100px">
            <div id="frontdiv" style="float: left;width: 200px;padding-left: 50px"><a href="#" id="frontloop"><h4>《《上一页</h4></a></div>
            <div id="backdiv" style="float: right;width: 150px"><a href="#" id="backloop"><h4>下一页》》</h4></a></div>
        </div>
    </div>
</div>
{% endblock %}