* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#explore-index-maindiv {
    height: 100%;
    padding-top: 50px;
}

#map-canvas {
    float: left;
    width: 100px;
    height: 100%;
    min-height: 500px;
    margin: 0px;
    padding: 0px
}

#rightdiv {
    float: right;
    height: 100%;
    padding: 20px;
}
