{% extends "base.html" %}
{% load staticfiles %}
{% block title %}登陆{% endblock %}
{% block cssload2 %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}"/>
{% endblock %}

{% block maincontent %}
<div class="container">

    <form class="form-signin" action="{% url 'main:login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <br/>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
{% endblock %}